.header-nav a:hover {
    color: #4A5568;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.header-logo:hover {
    color: #4A5568;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}