.header-nav a:hover {
    background-color: #E2E8F0;
    color: #4A5568;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.header-logo:hover {
    transform: scale(1.3);
    transition: all 0.3s ease-in-out;
}